@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables for Dark Mode */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom CSS Variables for Dark Mode */
:root {
  --foreground-rgb: 0, 0, 0;
  background-image: url("../public/background.webp");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}




/* Global Styles */
body {
  @apply text-base leading-relaxed;
  color: rgb(var(--font-color-light)); /* Use the light mode font color variable */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
  @apply bg-no-repeat bg-fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(var(--font-color-dark)); /* Use the dark mode font color variable */
  }
}

/* Custom Utilities Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
