@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables for Dark Mode */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom CSS Variables for Dark Mode */
:root {
  --foreground-rgb: 0, 0, 0;
  background-image: url("../public/background.webp");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}




/* Global Styles */
body {
  @apply text-base leading-relaxed;
  color: rgb(var(--font-color-light)); /* Use the light mode font color variable */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
  @apply bg-no-repeat bg-fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(var(--font-color-dark)); /* Use the dark mode font color variable */
  }
}

/* Custom Utilities Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
